/*resset*/
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, auto);
}

body > * {
  background-color: #666;
  border: medium solid rgb(78, 13, 13);
}

h2 {
  text-align: center;
}

/* version mobile*/

.header {
  background-color: #d1e8e4;
  grid-column: span 6;
  grid-row: span 1;
}

.nav {
  background-color: #c37b89;
  grid-column: span 6;
  grid-row: span 1;
}

.uc-left {
  background-color: #bccc9a;
  grid-column: span 2;
  grid-row: span 1;
}

.uc-center {
  background-color: #eae7c6;
  grid-column: span 2;
  grid-row: span 1;
}

.uc-right {
  background-color: #bccc9a;
  grid-column: span 2;
  grid-row: span 1;
}

.middle {
  background-color: #fef1e6;
  grid-column: span 3;
  grid-row: span 1;
}

.lower {
  background-color: #f9d5a7;
  grid-column: span 3;
  grid-row: span 1;
}

.middle {
  background-color: #ffb085;
  grid-column: span 3;
  grid-row: span 1;
}

.footer {
  background-color: #90aacb;
  grid-column: span 6;
  grid-row: span 1;
}

/*version descktop*/
@media screen and (min-width: 1024px) {
  body {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);
  }

  .header {
    grid-column: span 5;
    grid-row: span 1;
  }

  .nav {
    grid-column: 1/ 2;
    grid-row: 2 / 5;
  }

  .uc-left {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .uc-center {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
  }

  .uc-right {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }

  .middle {
    grid-column: 2 / 6;
    grid-row: 3 / 4;
  }

  .lower {
    grid-column: 2 / 6;
    grid-row: 4 / 5;
  }

  .footer {
    grid-column: 1 / 6;
    grid-row: span 1;
  }
}
